In [1]:
import pdfminer

In [2]:
from pdfminer.high_level import extract_text

In [3]:
text = extract_text("JFK_traffic_stat_pdfs/raw_data/Individual_files/JFK_through_NOV2022.pdf")

In [4]:
text[:2000]

'January 2022 Traffic Report\nAVIATION DEPARTMENT (Data As Of 3/2/2022)\n\nJFK\n\nYear over Year % Change in Revenue Passengers - 12 Months\n\n2500\n\n2000\n\n1500\n\n1000\n\n500\n\n0\n\n-500\n\n2090.1%\n\n1522.8%\n\n699.0%\n\n465.5%\n\n296.7%\n\n287.2%\n\n-42.0%\n\n-76.6%\n\n384.7%\n\n161.9%\n\n237.5%\n\n241.9%\n\nMar\n\nMay\n\nJul\n\nSep\n\nNov\n\nJan\n\nYear over Year % Change in Total Flights (Excl GA) - 12 Months\n\n* Cargo flights included in above totals\n\nYear over Year % Change in Cargo - 12 Months\n\nRevenue Passengers\n\nCurr Month % Change\n\n2,898,141\n\n161.9%\n\nDomestic\n\n1,570,057\n\nInternational\n\n1,328,084\n\n172.4%\n\n150.6%\n\nNon-Revenue\n\n94,762\n\n105.5%\n\nLoad Factors\n\nCurr Month\n\nDomestic\n\nInternational\n\n53.0%\n\n56.2%\n\nAvg Load Factor\n\nTotal Flights\n\nCurr Month % Change\n\n32,153\n\n112.3%\n\n31,853\n\n112.6%\n\n20,882\n10,971\n300\n\n156.8%\n60.1%\n86.3%\n\n1,141\n\n-32.8%\n\nExcl GA\n\nDomestic\n\nInternational\n\nGen Aviation\n\nCargo Flights*\n\nCargo (Short Tons)\n\nCurr Month % Change\n\n103,196\n\n-3.8%\n\nDomestic\n\nInternational\n\nMail\n\n35,540\n\n67,656\n\n4,937\n\n-5.8%\n\n-2.7%\n\n-17.7%\n\nTop 5 Declines in Revenue Passengers by Airline\n\nTop 5 Increases in Revenue Passengers by Airline\n\nAirline\n\nROYAL AIR MAROC\n\nEASTERN\n\nEVA\n\nCATHAY PACIFIC\n\nCHINA AIRLINES (CAL)\n\nPax Decline\n\n% Decline\n\nAirline\n\nPax Increase % Increase\n\n(6,639)\n\n(4,296)\n\n(392)\n\n(232)\n\n(114)\n\n-93.0%\n\n-62.2%\n\n-20.2%\n\n-14.4%\n\nJETBLUE AIRWAYS\n\nDELTA\n\nAMERICAN\n\nALASKA AIRLINES\n\n-100.0%\n\nEMIRATES AIRLINES\n\n492,133\n\n474,357\n\n339,992\n\n43,460\n\n41,435\n\n124.4%\n\n131.9%\n\n299.6%\n\n678.6%\n\n311.4%\n\nFor any questions, please contact Wendy Kim (wkim@panynj.gov) or Brian \nLevine (blevine@panynj.gov) - Strategic Analysis & Forecasting\n\nReport Generated: 3/2/2022 10:49:11 AM\n\nPage: 1\n\n\x0cJanuary 2022 Traffic Report\nAVIATION DEPARTMENT (Data As Of 3/2/2022)\n\nJFK\n\n12 Months Ending Passenger & Freight Statistics\n\nTop 20 Airlines Ranking by Passengers & Freight: 12 Months Ending Jan 2022\n\nAirline Name\n\nDomestic\n\nInternational\n\nTotal Pax % of Tot\n\nAirline Name\n\nShort Tons % of Tot\n\nJETBLUE AIRWAYS\n\n7,204,096\n\n3,524,112\n\n10,728'

In [5]:
list_items = text.split("\n")
len(list_items)

10092

In [6]:
print(list_items[0:80])

['January 2022 Traffic Report', 'AVIATION DEPARTMENT (Data As Of 3/2/2022)', '', 'JFK', '', 'Year over Year % Change in Revenue Passengers - 12 Months', '', '2500', '', '2000', '', '1500', '', '1000', '', '500', '', '0', '', '-500', '', '2090.1%', '', '1522.8%', '', '699.0%', '', '465.5%', '', '296.7%', '', '287.2%', '', '-42.0%', '', '-76.6%', '', '384.7%', '', '161.9%', '', '237.5%', '', '241.9%', '', 'Mar', '', 'May', '', 'Jul', '', 'Sep', '', 'Nov', '', 'Jan', '', 'Year over Year % Change in Total Flights (Excl GA) - 12 Months', '', '* Cargo flights included in above totals', '', 'Year over Year % Change in Cargo - 12 Months', '', 'Revenue Passengers', '', 'Curr Month % Change', '', '2,898,141', '', '161.9%', '', 'Domestic', '', '1,570,057', '', 'International', '', '1,328,084', '', '172.4%']

In [17]:
figures = []
for i, item in enumerate(list_items):
    if item == "Revenue Passengers":
        i + 4
        print(list_items[i+4])
        figures.append(list_items[i+4])

2,898,141
3,086,044
4,212,363
4,490,989
4,816,950
5,130,031
5,517,761
5,436,712
4,961,303
5,057,408
4,699,547

In [18]:
figures

['2,898,141',
 '3,086,044',
 '4,212,363',
 '4,490,989',
 '4,816,950',
 '5,130,031',
 '5,517,761',
 '5,436,712',
 '4,961,303',
 '5,057,408',
 '4,699,547']

In [19]:
import pandas as pd

In [25]:
df = pd.DataFrame(figures)
df

            0
0   2,898,141
1   3,086,044
2   4,212,363
3   4,490,989
4   4,816,950
5   5,130,031
6   5,517,761
7   5,436,712
8   4,961,303
9   5,057,408
10  4,699,547

In [26]:
df.to_excel("montly_JFK_data.xlsx", index=False)