In [1]:
import pdfminer

In [2]:
from pdfminer.high_level import extract_text

#### Below I used extract all the text from the pdfs.

In [4]:
text = extract_text("extra_raw_data/JFK_multiscrape1_combined.pdf")

In [5]:
text[:2000]

'January 2021 Traffic Report\nAVIATION DEPARTMENT\n\nRevenue Passengers\n\nCurr Month % Change\n\n1,091,905\n\n-76.6%\n\nDomestic\n\nInternational\n\n563,853\n\n528,052\n\n-73.1%\n\n-79.4%\n\nLoad Factors\n\nCurr Month\n\nDomestic\n\nInternational\n\n54.8%\n\n41.6%\n\nTotal Flights\n\nYear over Year % Change in Revenue Passengers - 12 Months\n\nJFK\n\n20\n\n0\n\n-20\n\n-40\n\n-60\n\n-80\n\n-100\n\n0.3%\n\n-57.0%\n\n-98.4%\n\n-93.5%\n-97.5%\n\n-89.5%\n\n-87.5%\n\n-85.9%\n\n-83.0%\n\n-78.1%\n\n-80.3%\n\n-76.6%\n\nAvg Load Factor\n\nMar\n\nMay\n\nJul\n\nSep\n\nNov\n\nJan\n\nYear over Year % Change in Total Flights (Excl GA) - 12 Months\n\nCurr Month % Change\n\n14,658\n\n-60.2%\n\n14,497\n\n-59.0%\n\n7,778\n6,719\n161\n\n1,663\n\n-63.5%\n-52.2%\n-88.9%\n\n64.3%\n\nExcl GA\n\nDomestic\n\nInternational\n\nGen Aviation\n\nCargo Flights*\n\n* Cargo flights included in above totals\n\nRevenue Cargo (Short Tons)\n\nYear over Year % Change in Revenue Cargo - 12 Months\n\nCurr Month % Change\n\n103,439\n\n4.2%\n\nDomestic\n\nInternational\n\n37,741\n\n65,699\n\n84.0%\n\n-16.6%\n\nMail\n\n5,956\n\n-17.4%\n\n10\n\n0\n\n-10\n\n-20\n\n-30\n\n-40\n\n4.4% 4.2%\n\n-2.2% -1.2%\n\n-7.5%\n\n-15.1%\n\n-14.8%\n\n-18.6%\n\n-13.6%\n\n-24.3%\n\n-25.8%\n\n-38.2%\n\nMar\n\nMay\n\nJul\n\nSep\n\nNov\n\nJan\n\nTop 5 Declines in Revenue Passengers by Airline\n\nTop 5 Increases in Revenue Passengers by Airline\n\nAirline\n\nDELTA\n\nJETBLUE AIRWAYS\n\nAMERICAN\n\nALASKA AIRLINES\n\nBRITISH AIRWAYS\n\nPax Decline\n\n% Decline\n\nAirline\n\nPax Increase % Increase\n\n(1,027,006)\n\n(661,440)\n\n(386,274)\n\n(105,333)\n\n(95,585)\n\n-74.1%\n\n-62.6%\n\n-79.3%\n\n-94.3%\n\n-94.9%\n\nEASTERN\n\nVOLARIS AIR\n\nVOLARIS COSTA RICA\n\n6,758\n\n2,440\n\n957\n\n4446.1%\n\n0.0%\n\n0.0%\n\nAny questions, please contact Brian Levine, Manager, Strategic Analysis & \nForecasting at blevine@panynj.gov\n\nReport Generated: 5/21/2021 8:44:43 AM\n\nPage: 1\n\n\x0cJanuary 2021 Traffic Report\nAVIATION DEPARTMENT\n\nJFK\n\n12 Months Ending Passenger & Freight Statistics\n\nTop 20 Airlines Ranking by Passengers & Freight: 12 Months Ending Jan 2021\n\nAirline Name\n\nDomestic\n\nInternational\n\nTotal Pax % of Tot\n\nAirline Name\n\nShort Tons % of Tot\n\nJETBLUE AIRWAYS\n\n2,625,202\n\n1,430,713\n\n4,055,915\n\nDELTA'

#### Below I break the text into a list of strings, each string representing a single phrase or data point.

In [6]:
list_items = text.split("\n")
len(list_items)

22564

#### Below I print a sample of the list to see what it looks like. I have inspected the January 2022 pdf, and I know that the data point I wish to extract is the figure '2,898,141'.

In [8]:
print(list_items[0:120])

['January 2021 Traffic Report', 'AVIATION DEPARTMENT', '', 'Revenue Passengers', '', 'Curr Month % Change', '', '1,091,905', '', '-76.6%', '', 'Domestic', '', 'International', '', '563,853', '', '528,052', '', '-73.1%', '', '-79.4%', '', 'Load Factors', '', 'Curr Month', '', 'Domestic', '', 'International', '', '54.8%', '', '41.6%', '', 'Total Flights', '', 'Year over Year % Change in Revenue Passengers - 12 Months', '', 'JFK', '', '20', '', '0', '', '-20', '', '-40', '', '-60', '', '-80', '', '-100', '', '0.3%', '', '-57.0%', '', '-98.4%', '', '-93.5%', '-97.5%', '', '-89.5%', '', '-87.5%', '', '-85.9%', '', '-83.0%', '', '-78.1%', '', '-80.3%', '', '-76.6%', '', 'Avg Load Factor', '', 'Mar', '', 'May', '', 'Jul', '', 'Sep', '', 'Nov', '', 'Jan', '', 'Year over Year % Change in Total Flights (Excl GA) - 12 Months', '', 'Curr Month % Change', '', '14,658', '', '-60.2%', '', '14,497', '', '-59.0%', '', '7,778', '6,719', '161', '', '1,663', '', '-63.5%', '-52.2%', '-88.9%', '', '64.3%', '', 'Excl GA', '', 'Domestic', '']

#### Here I create a loop that identifies the data point I want to extract and appends it to a list. I then print the list to see what it looks like.

In [9]:
figures = []
for i, item in enumerate(list_items):
    if item == "Revenue Passengers":
        i + 4
        print(list_items[i+4])
        figures.append(list_items[i+4])

1,091,905
969,873
1,283,330
1,790,997 2085.4%
2,396,279 1650.4%
2,963,848
3,567,369
3,663,085
2,873,210
2,972,947
JFK
JFK
2,898,141
3,086,044
4,212,363
4,490,989
4,816,950
5,130,031
5,517,761
5,436,712
4,961,303
5,057,408
4,699,547
4,868,087

In [10]:
figures

['1,091,905',
 '969,873',
 '1,283,330',
 '1,790,997 2085.4%',
 '2,396,279 1650.4%',
 '2,963,848',
 '3,567,369',
 '3,663,085',
 '2,873,210',
 '2,972,947',
 'JFK',
 'JFK',
 '2,898,141',
 '3,086,044',
 '4,212,363',
 '4,490,989',
 '4,816,950',
 '5,130,031',
 '5,517,761',
 '5,436,712',
 '4,961,303',
 '5,057,408',
 '4,699,547',
 '4,868,087']

#### I turn to list that results from the loop into a dataframe which I then save as an excel file.

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(figures)
df

                    0
0           1,091,905
1             969,873
2           1,283,330
3   1,790,997 2085.4%
4   2,396,279 1650.4%
5           2,963,848
6           3,567,369
7           3,663,085
8           2,873,210
9           2,972,947
10                JFK
11                JFK
12          2,898,141
13          3,086,044
14          4,212,363
15          4,490,989
16          4,816,950
17          5,130,031
18          5,517,761
19          5,436,712
20          4,961,303
21          5,057,408
22          4,699,547
23          4,868,087

In [14]:
df.to_excel("JFK_data_21and22.xlsx", index=False)